/*
Syntax error: Undefined mixin 'replace-text-with-dimensions'.
        on line 50 of /srv/www/konscript/konteaser/css/main.scss, in `replace-text-with-dimensions'
        from line 50 of /srv/www/konscript/konteaser/css/main.scss

Backtrace:
/srv/www/konscript/konteaser/css/main.scss:50:in `replace-text-with-dimensions'
/srv/www/konscript/konteaser/css/main.scss:50
/usr/lib/ruby/1.8/sass/tree/mixin_node.rb:62:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:305:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:213:in `perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `map'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:317:in `perform!'
/usr/lib/ruby/1.8/sass/tree/rule_node.rb:191:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:305:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:213:in `perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `map'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:317:in `perform!'
/usr/lib/ruby/1.8/sass/tree/rule_node.rb:191:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:305:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:213:in `perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `map'
/usr/lib/ruby/1.8/sass/tree/node.rb:327:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:317:in `perform!'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:59:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:305:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:213:in `perform'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:37:in `perform'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:29:in `render'
/usr/lib/ruby/1.8/sass/engine.rb:197:in `_render'
/usr/lib/ruby/1.8/sass/engine.rb:169:in `render'
/usr/lib/ruby/1.8/haml/util.rb:294:in `silence_haml_warnings'
/usr/lib/ruby/1.8/sass/engine.rb:169:in `render'
/usr/lib/ruby/1.8/compass/compiler.rb:103:in `compile'
/usr/lib/ruby/1.8/compass/logger.rb:43:in `red'
/usr/lib/ruby/1.8/compass/compiler.rb:102:in `compile'
/usr/lib/ruby/1.8/compass/compiler.rb:93:in `compile_if_required'
/usr/lib/ruby/1.8/compass/compiler.rb:84:in `run'
/usr/lib/ruby/1.8/compass/compiler.rb:82:in `each'
/usr/lib/ruby/1.8/compass/compiler.rb:82:in `run'
/usr/lib/ruby/1.8/compass/commands/watch_project.rb:92:in `recompile'
/usr/lib/ruby/1.8/compass/commands/watch_project.rb:4:in `to_proc'
/usr/lib/ruby/1.8/fssm/path.rb:71:in `call'
/usr/lib/ruby/1.8/fssm/path.rb:71:in `run_callback'
/usr/lib/ruby/1.8/fssm/path.rb:54:in `callback_action'
/usr/lib/ruby/1.8/fssm/path.rb:34:in `update'
/usr/lib/ruby/1.8/fssm/state/directory.rb:32:in `modified'
/usr/lib/ruby/1.8/fssm/state/directory.rb:31:in `each'
/usr/lib/ruby/1.8/fssm/state/directory.rb:31:in `modified'
/usr/lib/ruby/1.8/fssm/state/directory.rb:16:in `refresh'
/usr/lib/ruby/1.8/fssm/backends/inotify.rb:12:in `add_handler'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:182:in `call'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:182:in `watch'
/usr/lib/ruby/1.8/rb-inotify/watcher.rb:41:in `[]'
/usr/lib/ruby/1.8/rb-inotify/watcher.rb:41:in `callback!'
/usr/lib/ruby/1.8/rb-inotify/event.rb:128:in `callback!'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:211:in `process'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:211:in `each'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:211:in `process'
/usr/lib/ruby/1.8/rb-inotify/notifier.rb:194:in `run'
/usr/lib/ruby/1.8/fssm/backends/inotify.rb:20:in `run'
/usr/lib/ruby/1.8/fssm/monitor.rb:24:in `run'
/usr/lib/ruby/1.8/fssm.rb:17:in `monitor'
/usr/lib/ruby/1.8/compass/commands/watch_project.rb:61:in `perform'
/usr/lib/ruby/1.8/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/1.8/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/1.8/compass/exec/sub_command_ui.rb:38:in `perform!'
/usr/lib/ruby/1.8/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/bin/compass:26
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'replace-text-with-dimensions'.\A         on line 50 of /srv/www/konscript/konteaser/css/main.scss, in `replace-text-with-dimensions'\A         from line 50 of /srv/www/konscript/konteaser/css/main.scss"; }
