// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

/**
 * Blueprint and Compass configuration
 */
body.bp {
	$blueprint-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	$blueprint-fixed-font-family: "andale mono", "lucida console", monospace;
	$blueprint-font-size: 13px;
	$font-color: white;
	$header-color: white;	
	$link-color: white;	
	$link-hover-color: white;
	$link-focus-color: white;
	$link-active-color: white;
	$link-visited-color: white;
	@include blueprint-typography(true);
	@include blueprint-utilities;
	@include blueprint-debug;
	@include blueprint-interaction;
	
	line-height: 2em;
		
}
form.bp {
	@include blueprint-form; 
}

@font-face {
    font-family: 'New Athena Unicode Regular';
    src: url('../misc/new_athena_unicode-webfont.eot');
    src: url('../misc/new_athena_unicode-webfont.eot?#iefix') format('embedded-opentype'),
         url('../misc/new_athena_unicode-webfont.woff') format('woff'),
         url('../misc/new_athena_unicode-webfont.ttf') format('truetype'),
         url('../misc/new_athena_unicode-webfont.svg#NewAthenaUnicodeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * Main styling goes on from here!
 */
body {
	background-color: black;
	background-image: url('../imgs/background_dark-pattern.png');
	background-repeat: both;
	background-attachment: scroll; }
	
	#container-wrap {}

		/**
		 * Header
		 */
		
		#header-wrap {
			width: 100%;
			margin: 0;
			padding: 0;
			background-color: white; }
		
		#header {
			@include container;
			padding: 0.3em 0; }
			
			#header h2 {
				@include column(($blueprint-grid-columns / 2) - 1);
				@include prepend(1);
				font-size: 1em;
				margin-bottom: 0;
				color: black; }

			#header p {
				@include column(($blueprint-grid-columns / 2) - 1, true);
				text-align: right;
				margin-bottom: 0;				
				color: black; }
				
				#header a {
					color: black; }

		/**
		 * Content
		 */    	
    	#content-wrap { @include container; }
    		
    		#left {
    			@include column(14);
				@include prepend-top(6em);    			
				@include append-bottom(2.5em); }
    			    			
    			.fontface #title {
    				@include prepend(1);
    				font-family: "New Athena Unicode Regular", "Times New Roman", serif;
    				font-size: 84px;
    				font-weight: normal;
    				line-height: 1.5em; }
    				
    			#forging-dot-wrap {
	    			@include column(1);
	    			padding-top: 0.75em; }

					.borderradius #forging-dot {
						float: right;
						height: 6px;
						width: 6px;					
						background-color: orange;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px; }    				
    				
    			#forging {
    				@include column(13, true);
    				color: orange; }
    				
    			#description,
    			#clients,
    			#contact {
					@include column(13);    			
	    			@include prepend(1); }
    				
    		
    		#right {
    			@include column(10, true);
				@include prepend-top(6em); }
    			
    			#logo {
    				@include prepend(2); }

		/**
		 * Invisible Footer
		 */    	
    	#footer-wrap {
			@include column($blueprint-grid-columns);
			display: none; }
